html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    height: 100%;     /* wystarczy tu */
    width: 100%;
    overflow-x: hidden; /* blokada poziomego scrolla */
}

.app-container {
    background-image: url('main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;  /* to zostaw */
    width: 100%;        /* dodaj, żeby nie brał 100vw */
}